body {
    background-image: url("images/foret3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: "Arimo", arial, sans-serif;
}

h1 {
    font-size: 70px;
    text-shadow: 0.1em 0.1em #002B19;
    text-align: center;
    transition: font-size 3s;
}

h1:hover {
    font-size: 100px;
}

h2 {
    color: white;
}

h3 {
    text-align: center;
    font-size: 40px;
}

h4 {
    text-align: center;
}

aside {
    padding: 200px 0
}

/*-------------------------Header-------------------------*/

header a:link,
header a:visited,
header a:active {
    color: #002B19;
    font-size: 20px;
}

header a:hover {
    color: #002B19;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #002B19;
    vertical-align: center;
    align-items: center;
    z-index: 10;
}

header > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    color: white;
    list-style: none;
    margin-bottom: 0;
}

header > ul > li {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1px 15px;
    margin: 0 30px;
    border-radius: 5px;
}

header > div:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: white;
}

/*-------------------------Main-------------------------*/

main {
    background-image: linear-gradient(to top, #05AB1B 10%, #002B19 100%);

    border: 2px black inset;
    border-radius: 40px;
    padding-top: 5em;
}

main section:last-of-type img {
    border: none;
}


/*-------------------------S'applique à toutes les images-------------------------*/

section img {
    border-radius: 100px;
    border: white 4px solid;
    /*----------Bordure de l'image pour le profil----------*/
    margin: auto;
}


section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
}

section h3 {
    text-align: center;
}

section article {
    display: flex;
    justify-content: center;
}

section > hr {
    width: 30%;
    background-color: white;
    height: 2px;
}

section > hr:last-of-type {
    width: 70%;
    background-color: white;
    height: 2px;
}

/*-------------------------Section sur le profil avec la bordure-------------------------*/

section:first-of-type figure,
.contourimg section:first-of-type {
    border: white 1px solid;
    border-radius: 50px;
}

section:first-of-type hr {
    width: 20%;
}

section:first-of-type + section article {
    display: flex;
    flex-direction: column;
}

section:first-of-type p {
    text-align: center;

}

#competences div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------------------Section sur les projets-------------------------*/

#projets div{
    margin-top:15px;
}

#deuxieme {
    flex-direction: row-reverse;
    text-align: end;
}

#projets article:last-of-type h5 {}

/*-------------------------Footer-------------------------*/

footer {
    margin-top: 10em;
    height: 100%;
    background-color: #002B19;
    height: 10em;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
}

footer a:link,
section a:link,
footer a:visited,
section a:visited,
footer a:active,
section a:active {
    color: white;
    text-decoration: none;
}

footer a:hover,
section a:hover {
    color: #05AB1B;
}

footer div {
    display: flex;
    justify-content: space-around;
}

/*-------------------------Profil-------------------------*/

.profil .competences,
.qualite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    margin: 0 2em;
    text-align: center;
}

figure figcaption {
    font-size: 20px;
}

#burger {
    position: fixed;
    top: 0;
    right: 0;
    background: #05AB1B;
    height: 40%;
    width: 10em;
    border-bottom-left-radius: 50px;

    display: none;
    border-bottom: black 2px solid;
    border-left: black 2px solid;
}

header > nav > .burger > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 150px 0 0 0;
    padding: 10px 20px 10px 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: none;
    align-items: flex-end;
}

header > nav > .burger > ul > li {
    background-color: none;
}

.btn-navigation {
    position: absolute;
    top: -20px;
    right: 30px;
    z-index: 20;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

mark {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.alignetxt section article {
    width: 90%;
    margin: auto;
}

.alignetxt > section:first-of-type > figure {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.qualite div {
    justify-content: center;
}
